Lavaza restaurants website
------------------------------

------------------------------

    -Product Features:



        A-Users registration and activation with email/phone.
        
            -user registration with email **
            -user account activation with email *-
            -user registration with phone --
            -user account activation with phone --
        
        B-Users login and logout with forget password email/phone.

            -user login and logout**
            -user forgot password with email*-
            -user forgot password with phone--
            
        C-Users order food and pay online with phone/email
            
            -Users add items to their shopping cart**
            -Users delete an item from shopping cart**
            -Users add notes about the order(i.e. allergies or removing a specific ingredients)**
            -guest users enter name, email, address and bank card details to confirm and pay for order**
            -guest users enter name, phone, address and bank card details to confirm and pay for order--
            -Logged in users enter an address and bank card details to confirm and pay for order**
            -Logged in users can see order history**
            -Logged in users can order past orders**
            -confirmation text is sent to user phone.--
            -confirmtion of order is sent to user email--    
            
        D-Users account with following functionalities: -HERE
            -Users insert and update their details**
                -Save address**
                -Remove address**
                -(Update phone number)**
                -Update name**
                -change password**

            -Users can see order history and buy their past orders*
                -display order history**
                -buy past orders again**
            -Users can see reservations available and save them    
            -Users can see reservation history and cancel them.

        E-Admin see, edit users details and delete them*
            -Admin see list of users*
            -Admin delete a user*
            -Admin edit user details(name, (phone) address)*
        
        F-Admin change or reset password with email and phone*

        G-Admin add or remove menu items
            -add menu items*
            -remove menu items*
            -update menu items*
            -update menu items image*

        I-Admin create update and delete reservation slots.
            -Admin create a reservation slot
            -Admin edit a reservation slot
            -Admin remove a reservation slot
            -Admin has the option for setting
            -reservation price for special arrangements.---
        J-Admin add update and remove website's notifications.



